<header class="bg-primary text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center relative">
    <div class="flex items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl text-white">Panda Academy</span>
      </a>
    </div>

    <div class="hidden sm:ml-6 sm:block">
      <div class="flex space-x-4">
        <a (click)="user()" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">User</a>
      </div>
    </div>

    <div class="flex-grow"></div>

    <img (click)="toggleMenu()" class="inline-block h-10 w-10 rounded-full ring-2 ring-white" style="cursor: pointer;" [src]="profileImageUrl">

    <div *ngIf="isMenuOpen" class="absolute bg-white border rounded-md mt-2 px-4 py-2 right-0 top-full z-50">
      <a class="block hover:text-gray-900 mb-2" style="cursor: pointer;">Editar Perfil</a>
      <a (click)="logout()" class="block hover:text-gray-900 mb-2" style="cursor: pointer;">Cerrar Sesión</a>
    </div>
  </div>
</header>
